torch
transformers
nltk
numpy
pandas
scikit-learn
optuna
torch
safetensors
streamlit
faiss-cpu
sentence-transformers
pyyaml
numpy
python-dotenv
sentencepiece
langchain
memory_profiler
langchain-community
accelerate