torch
transformers
nltk
numpy
pandas
scikit-learn
optuna
safetensors
streamlit
faiss-cpu
sentence-transformers
pyyaml
python-dotenv
sentencepiece
langchain
memory_profiler
langchain-community
accelerate